body {
  background: orange;
  font-family: "Roboto", sans-serif;
}

body h1 {
  text-align: center;
}

.cart-checkout {
  width: 100%;
  max-width: 1000px;
  background: #fff;
  margin: 40px auto 20px; /*TOP LEFT/RIGHT BOTTOM*/
  padding: 10px 20px 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 7px rgba(0, 0, 0, 0.3);
}

.shopping-cart {
  width: 100%;
  max-width: 1200px;
  background: #fff;
  margin: 40px auto 20px; /*TOP LEFT/RIGHT BOTTOM*/
  padding: 10px 20px 25px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 7px rgba(0, 0, 0, 0.3);
}

/* //BOUTON REMOVE */
#cross {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
}

#cross:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgb(173, 173, 173);
  cursor: pointer;
  border-radius: 50%;
}

/* BOUTON LIKE */
#like {
  width: 60px;
  height: 60px;
  cursor: pointer;
  user-select: none;
}

#like.active {
  content: url("heart_selected.png");
  width: 60px;
  height: 60px;
  cursor: pointer;
  user-select: none;
}

ul {
  list-style: none;
}

.column-title {
  font-size: 25px;
  color: rgb(164, 164, 164);
}

.item-card {
  display: flex;
  border-radius: 15px;
  align-items: center;
  padding-right: 25px;
  margin-bottom: 25px;
  justify-content: space-between;
}

.item-card img {
  width: 100px;
  height: 100px;
}
/* ITEM QUANTITY */

#quantity-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* BOUTON -  */
#minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
}

/* BOUTON +  */
#plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
}

#minus:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(173, 173, 173);
  cursor: pointer;
  border-radius: 50%;
}

#plus:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(173, 173, 173);
  cursor: pointer;
  border-radius: 50%;
}
